@model CRAutos_App.ETL.RecuperarContrasenna
@{
    ViewBag.Title = "Recuperar";
}

<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Recuperar Contraseña</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Recuperar Contraseña </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="container py-lg-5">
            <div class="text-lg-center">
                <div class="col-md-6  offset-3 text-lg-center">
                    <div class="title-content text-center">
                        <h3 class="hny-title mb-lg-5 mb-4"></h3>
                    </div>
                    @using (Html.BeginForm("Recuperar", "RecuperarContra", FormMethod.Post))
                    {
                        <label>Escribe tu correo electrónico</label>
                        @Html.TextBoxFor(Model => Model.Email, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Email, null, new { style = "color:red;" })
                        <br />

                        <p class="sub-title">@Model.ErrorMessage</p>

                        <p style="color:forestgreen">@Model.SuccesfulMessage</p>
                        <br />
                        <div class="text-lg-center">
                            <button type="submit" class="btn btn-style">Recuperar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<!-- //contact-form -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>

<!--//MENU-JS-->

<script src="~/js/bootstrap.min.js"></script>



