
@{
    ViewBag.Title = "VerCarros";
}

<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Autos en venta</h2>
            
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!--/services-sec-->
<div class="w3-services py-5">
    <div class="container py-lg-4">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Vehículos en venta</h6>
            <h3 class="hny-title">Vehículos añadidos recientemente</h3>

        </div>
        <div class="row w3-services-grids">
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <h3 class="cause-title" id="Precio_Publicacion">$</h3>
                    <img src="~/images/ab1.jpg" class="img-fuild" alt="">
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title" id="titulo_publicacion"></h4>
                    </a>
                    <p class="card-text mb-0" id="Descripcion_Publicacion">
                        
                    </p>

                    <a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//services-sec-->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();
      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });
    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>