@model CRAutos_App.Models.TBPublicaciones

@{
    ViewBag.Title = "ProcesoPublicacion";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
    </div>
</section>
<!-- //about breadcrumb -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-6 contact-left pr-lg-4">
                    <div class="partners">
                        <div class="cont-details">
                            <div class="title-content text-left">
                                <h3 class="hny-title">Publicacion del vehiculo</h3>
                            </div>
                            <p class="mt-3 mb-4 pr-lg-5">
                               En esta seccion de la pagina se hara registro de la publicacion en donde se solicitara unos datos necesarios para hacer valida la publicacion del vehiculo en el sistema.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 form-inner-cont">
                    @using (Html.BeginForm("ProcesoPublicacion", "Publicaciones", FormMethod.Post))
                    {

                        @Html.Label("Titulo de la publicación")
                        @Html.TextBoxFor(Model => Model.TituloPublicacion, new { @class = "form-control" })

                      
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //contact-form -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>